<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
<!--    <supportedRuntime version="v1.1.4322" />-->
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="CDP.AllowDebugBreak" value="true" />
    <add key="CDP.CollectedDelegate" value="true" />
    <add key="CDP.InvalidIUnknown" value="true" />
    <add key="CDP.InvalidVariant" value="true" />
    <add key="CDP.PInvokeCallConvMismatch" value="true" />
    <add key="CDP.BufferOverrun" value="true" />
    <add key="CDP.ObjNotKeptAlive" value="true" />
    <add key="CDP.DisconnectedContext" value="true" />
    <add key="CDP.FailedQI" value="true" />
    <add key="CDP.Apartment" value="true" />
    <add key="CDP.NotMarshalable" value="true" />
    <add key="CDP.Marshaling" value="true" />
    <add key="CDP.Marshaling.Filter" value="" />
    <add key="CLRSPY.NoFilter" value="true" />
    <add key="CLRSPY.ShowBalloons" value="true" />
    <add key="CLRSPY.LogToFile" value="false" />
    <add key="CLRSPY.LogFile" value="C:\clrspy.log" />
    <add key="CLRSPY.ProgramList" value="" />
  </appSettings>
</configuration>